<html>

<head>
    <title>My Portifolio</title>
    <script src="/lib/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- inject:css -->
    <link rel="stylesheet" href="/style.css">
    <!-- endinject -->
    <!-- scripts:css -->
    <link rel="stylesheet" href="/lib/angular-material.min.css">
    <link rel="stylesheet" href="/lib/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/lib/bootstrap.min.css">
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/all.js"></script>
    <!-- endinject -->
</head>

<body ng-app="portifolio">
    <div ng-view></div>
</body>
<footer>
    <!-- scripts:js -->
    <script src="/lib/0.2.2_jquery.min.js"></script>
    <script src="/lib/angular-animate.min.js"></script>
    <script src="/lib/angular-aria.min.js"></script>
    <script src="/lib/angular-material.min.js"></script>
    <script src="/lib/angular-messages.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/ol.js"></script>
    <script src="/lib/ui-bootstrap.min.js"></script>
    <script src="/lib/underscore-min.js"></script>
    <!-- endinject -->
</footer>

</html>
