<html>

<head>
    <title>My Portifolio</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- inject:css -->
    <link rel="stylesheet" href="/stylesheets/ol.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- endinject -->
</head>

<body ng-app="myMaps">
    <div ng-view></div>
</body>
<footer>
    <!-- inject:js -->
    <script src="/angularApp.js"></script>
    <script src="/scripts/01_jQuery.js"></script>
    <script src="/scripts/bootstrap.js"></script>
    <script src="/scripts/ol.js"></script>
    <script src="/scripts/underscore.js"></script>
    <script src="/modules/controllers/homeController.js"></script>
    <script src="/modules/controllers/mapController.js"></script>
    <script src="/modules/directives/home.js"></script>
    <script src="/modules/directives/imageManager.js"></script>
    <!-- endinject -->
</footer>

</html>
