<html>

<head>
    <title>My Portifolio</title>
    <script src="/angular.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- inject:css -->
    <link rel="stylesheet" href="/style.css">
    <!-- endinject -->

    <!-- inject:js -->
    <script src="/all.js"></script>
    <!-- endinject -->
</head>

<body ng-app="portifolio">
    <div ng-view></div>
</body>

<footer>
    <!-- scripts:js -->
    <script src="/01_jQuery.js"></script>
    <script src="/bootstrap.js"></script>
    <script src="/ol.js"></script>
    <script src="/ui-bootstrap-tpls-1.2.5.min.js"></script>
    <script src="/underscore.js"></script>
    <!-- endinject -->
</footer>

</html>
