<div id="upload-photo-modal">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Upload your photo</h2>
            <span flex="" class="flex"></span>
            <button class="md-icon-button md-button md-ink-ripple" type="button" ng-transclude="" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog" class="ng-scope ng-isolate-scope" aria-hidden="true"></md-icon>
            </button>
        </div>
    </md-toolbar>
    <div class="modal-body">
        <ul>
            <input type="file" id="file" name="file" />
        </ul>
    </div>
    <div class="modal-footer">
        <md-button class="md-raised md-primary" ng-click="save()">
            Save
        </md-button>
        <md-button class="md-raised md-secondary" ng-click="cancel()">
            Cancel
        </md-button>
    </div>
</div>
